{% extends "padre.html" %}

{% load static %}


{% block contenido %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <h1 class="text-center" style="color: white;">Cursos</h1>
            </div>
        </header>   
        
    <nav class="navbar navbar-light bg-light static-top">   
        
        <div class="container">
            <a class="btn btn-primary" href="{% url 'buscar_curso' %}">Buscar curso</a>
            <a class="btn btn-primary" href="{% url 'alta_curso' %}">Agregar curso</a>
        </div>
    
    </nav>

    <br>

    <main class="container">
        
        <h1 class="text-xl-center title"> Cursos disponibles </h1>
        <br>
        
        <table class="table">
            <thead>
                
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>camada</th>
                </tr>
            </thead>
            <tbody>
                {% for n in cursos %}
                <tr>
                    <th>{{n.id}}</th>
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>


{% endblock %}